.navbar {
  display: flex;
  /background-color: red;
  -ms-align-items: center;
  align-items: center;
  height: 100px;
}
.section {
  display: flex;
  justify-content: center;
  padding: 50px;
  padding-top: 120px;
  flex-wrap: wrap;
  align-items: center;
}
.placeholder {
  width: 570px;
  height: 415px;
  background-color: blue;
}
.long-placeholder {
  width: 570px;
  height: 815px;
  background-color: blue;
}
.text-panel {
  padding: 25px;
  flex: 1;
}
.image-panel {
  flex: 1,
}
.longh1 {
  font-size: 60px  ;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.goal {
  display: flex;
}
.title {
  margin: 10px;
  font-weight: bold;
  min-width:  150px;
}
.content {
  margin-left: 4px;
}
.faq {
  padding-top: 0;
}
.details > p {
  margin: 3px;
  font-size: 15px;
}
