body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

p, h1, button, li, h3 {
  font-family: 'Roboto', sans-serif;
  color: #142F43;
}

h1 {
  font-size: 72px;
  font-weight: 400;
  margin: 0;
}
p {
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
width: 250px;

border-radius: 15px;

cursor: pointer;
outline: none;
}

button:hover {
  opacity: 80%;
  transform: scale(.99);
}

li {
  padding: 5px;
}
